
.maincontainer{
    background-color: grey;
    width: 100vw;
    height: 100vh;
}
.navbar{
    background-color:aquamarine;
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    font-family:  "Sour Gummy", sans-serif;
    font-size:x-large;
}
.logout{
    cursor: pointer;
}
.name{
padding-left: 50px;
padding-top: 20px;
    height: 10%;
    background-color:azure;
    font-family: "Sour Gummy", sans-serif;
    font-size: xx-large;
}
.todocontainer{
    background-color: white;
    margin:auto auto;
    border:3px solid black;
    margin-top: 50px;
    border-radius: 10px;
    width:35vw;
    min-height:40vh;
}
.enter{
    display: flex;
    gap: 5px;
}
.task{
    margin-top: 5px;
    margin-left: 5px;
    width: 85%;
}
.done{
    width: 12%;
    background-color: aqua;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid  black;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    padding: 10px;
}